<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>HERO_SKY.jpg</string>
			<string>HERO_FOREGROUND.png</string>
		</array>
		<key>offsets</key>
		<array>
			<string>5</string>
			<string>30</string>
		</array>
	</dict>
	<dict>
		<key>offsets</key>
		<array>
			<string>5</string>
			<string>15</string>
			<string>40</string>
		</array>
		<key>images</key>
		<array>
			<string>OFFICE_SKY.jpg</string>
			<string>OFFICE_MIDGROUND.png</string>
			<string>OFFICE_FOREGROUND.png</string>
		</array>
	</dict>
	<dict>
		<key>offsets</key>
		<array>
			<string>5</string>
			<string>8</string>
			<string>60</string>
		</array>
		<key>images</key>
		<array>
			<string>SKY.jpg</string>
			<string>ROOF_DECK_MIDGOUND.png</string>
			<string>ROOF_DECK_FOREGROUND.png</string>
		</array>
	</dict>
	<dict>
		<key>offsets</key>
		<array>
			<string>5</string>
			<string>20</string>
			<string>30</string>
		</array>
		<key>images</key>
		<array>
			<string>TERRACE_SKY.jpg</string>
			<string>TERRACE_MIDGROUND.png</string>
			<string>TERRACE_FOREGROUND.png</string>
		</array>
	</dict>
</array>
</plist>
